name: Ready
# This workflow is triggered by 'ready' branches

on:
  workflow_dispatch:
  push:
    branches:
      - "ready/**"

jobs:
  merge-to-trunk:
    name: Merge to trunk
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    permissions:
      pull-requests: write
      issues: write
      contents: write
      statuses: write

    steps:

      - uses: actions/checkout@v6
        with:
          fetch-depth: 0 # Fetch full history to ensure we can merge and push
          token: ${{ secrets.READY_PUSHER }}

      - name: Mark pending
        run: ./.scripts/trunk-worthy  mark-pending

      - name: Set up runner environment
        uses: ./.github/actions/prep-runner 

      - name: test trunk worthy
        run: ./.scripts/trunk-worthy        

      - uses: lakruzz/workflows/actions/ready@experimental
        with:
          user_name: "Ready Pusher" #required
          user_email: "ready-pusher@lakruzz.com" #required
          token: ${{ secrets.READY_PUSHER }} #required, must have the right permissions, and same as the token used in checkout step
          # target_branch: main #default is main
          # delete_dev_branch: true # default is true
          # delete_ready_branch: true # default is true
          # close_pr: true # default is true
          # close_issue: true # default is true
